div, button{
    font-family: 'Montserrat', sans-serif;
}

.topbar{
    position: relative;
    height: 92px;
    display: flex;
}

.logo{
    position: absolute;
    top: 26px;
    left: -8%;
}

.navbarWrapper{
    margin: 26px auto 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
}

#dropdown-basic{
    background: #2A73CC;
    border: none;
    outline: none;
    margin-right: 30px;
    width: 161px;
    height: 36px;
}

.searchbar{
    display: flex;
    position: relative;
}

.searchInput{
    box-sizing: border-box;

    width: 15vw;
    min-width: 100px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 9px 27px;
    gap: 10px;
    background: #FFFFFF;
    /* Secondary Color 75% */

    border: 1px solid #9FB3C8;
    border-radius: 8px;
}

.searchInput:focus{
    border: 2px solid #8191a3;
    padding: 7px 26px;
    outline: none;
}

.search{
    margin-left: -10px;
    padding: 8px;
    color: white;
    width: 36px;
    height: 36px;
    font-size: 36px !important;

    background: #2A73CC;
    border-radius: 8px;
}

.search:hover{
    cursor: pointer;
}

.navbarEnd{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbarText{
    margin-right: 55px;
    padding-left: 10px;
    font-weight: 500;
    color: #1F4066;
}

.languages{
    margin-right: 15px;
}

.navbarLogin{
    position: absolute;
    right: -8%;
    padding: 8px 16px;
    width: 82px;
    height: 35px;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    outline: none;
    border: none;
    background: #2A73CC;
}